/* Cursor
========================================================= */

.cm-cursorLayer .cm-cursor {
    /*  border-left: ...  */
}

/*  Animation of blinking  */
.cm-cursorLayer {
    /*  Deactivate built-in animation from CodeMirror  */
    animation-name: none !important; /* important needed */
}

@keyframes phase-blink {
    15% { opacity: 1; }
    50% { opacity: 0; }
    85% { opacity: 1; }
}

.cm-cursorLayer .cm-cursor {
    animation-name: phase-blink;
    animation-duration: 2200ms;
}
