/* # Graph
========================================================= */

/* Colour of nodes */
.graph-view.color-fill {
    color: var(--text-muted);
}

/* Colour of focused node/note */
.graph-view.color-fill-focused {
    color: #fd0;
}

/* Dark mode tag colour */
.theme-dark .graph-view.color-fill-tag {
    color: #704214;
}

/* Light mode tag colour */
.theme-light .graph-view.color-fill-tag {
    color: #e0d3af;
}

/* Dark mode attachment colour */
.theme-dark .graph-view.color-fill-attachment {
    color: #1a356b;
}

/* Light mode attachment colour */
.theme-light .graph-view.color-fill-attachment {
    color: #83d4f4;
}

/* Unresolved (not yet created) notes */
.graph-view.color-fill-unresolved {
    color: var(--text-muted);
    opacity: 0.4;
}

/* Arrow colour */
.graph-view.color-arrow {
    color: var(--text-normal);
    opacity: 0.5;
}

/* Focused node border colour */
.graph-view.color-circle {
    color: var(--text-normal);
}

/* Link colour */
.graph-view.color-line {
    color: var(--background-modifier-border);
}

/* Text colour */
.graph-view.color-text {
    color: var(--text-normal);
}

/* Focused node colour */
.graph-view.color-fill-highlight {
    color: var(--interactive-accent);
}

/* Focused node connections */
.graph-view.color-line-highlight {
    color: var(--interactive-accent);
}

/* Graph menu */
.graph-controls {}
