/* ---- Fonts ---- */
/* Import from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");
/* Font Families */
:root {
  --default-font: "Inter", sans-serif;
  /* Note and settings text */
  --font-monospace: "Source Code Pro", monospace;
  /* Code block text */
  --display-heading-font: "Ibarra Real Nova", serif;
  /* Biggest headings */
}

/* ---- CSS Reset ---- */
/* Box Sizing Reset - this makes it easier to set any ::before and ::after pseudo-elements' dimensions,
since it includes any border and padding into the height and width values you set.

*,
*::before,
*::after {
  box-sizing: border-box;
} */
/* ---- Variables ---- */
.theme-dark {
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  /* Obsidian Title Bar Bg */
  --background-primary: #202020;
  /* Note background */
  --background-primary-alt: #1a1a1a;
  /* Note Title background active */
  --background-secondary: #161616;
  /* Sidebar background */
  --background-secondary-alt: #000000;
  /* Sidebar Title background */
  --background-modifier-border: #333;
  /* Border outline of quotes, tables, line breaks */
  --text-normal: #dcddde;
  /* Text body of note */
  --text-muted: ;
  /* Text darker for sidebar, toggles, inactive, tags, etc */
  --text-accent: #7f6df2;
  /* Links */
  --text-accent-hover: #8875ff;
  /* Links hover */
  --text-faint: #666;
  /* Link brackets color & Gutter Numbers */
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  /* Search Matches */
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  /* Active Search Match (Preview Mode) */
  --text-selection: rgba(23, 48, 77, 0.99);
  /* Text Selections */
  --interactive-normal: #2a2a2a;
  /* Button Color */
  --interactive-hover: #303030;
  /* Button Hovered Color */
  --interactive-accent: #483699;
  /* Workspace Note Title Underline */
  --interactive-accent-hover: #4d3ca6;
  /* Menu Button Hover */
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  /* Scrollbar Gutter Background */
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  /* Scrollbar Color */
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  /* Scrollbar Dragged Color */
}

.theme-light {
  --background-primary: #ffffff;
  /* Note background */
  --background-primary-alt: #f5f6f8;
  /* Note Title background active */
  --background-secondary: #f2f3f5;
  /* Sidebar background */
  --background-secondary-alt: #e3e5e8;
  /* Sidebar Title background */
  --background-modifier-border: #ddd;
  /* Border outline of quotes, tables, line breaks */
  --text-normal: #2e3338;
  /* Text body of note */
  --text-muted: #888888;
  /* Text darker for sidebar, toggles, inactive, tags, etc */
  --text-accent: #705dcf;
  /* Links */
  --text-accent-hover: #7a6ae6;
  /* Links hover */
  --text-faint: #999999;
  /* Link brackets color */
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  /* Search Matches */
  --text-highlight-bg-active:rgba(255, 128, 0, 0.4);
  /* Active Search Match (Preview Mode) */
  --text-selection: rgba(23, 48, 77, 0.99);
  /* Text Selections */
  --interactive-normal: #f2f3f5;
  /* Button background Color */
  --interactive-hover:#e9e9e9;
  /* Button Hovered Color */
  --interactive-accent: #7b6cd9;
  /* Workspace Note Title Underline */
  --interactive-accent-hover: #8273e6;
  /* Menu Button Hover */
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  /* Scrollbar Gutter Background */
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
  /* Scrollbar Color */
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  /* Scrollbar Dragged Color */
}

/* ---- Buttons ---- */
/* Default Buttons */
/* Settings Buttons */
/* Warning Buttons */
/* ---- Cursor ---- */
.cm-cursorLayer .cm-cursor {
  /*  border-left: ...  */
}

/*  Animation of the Blinking  */
.cm-cursorLayer {
  /*  Deactivate Built-in Animation from CodeMirror  */
  animation-name: none !important;
  /* important needed */
}

@keyframes phase-blink {
  15% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
}
.cm-cursorLayer .cm-cursor {
  animation-duration: 2200ms;
  animation-name: phase-blink;
}

/* ---- File Explorer ---- */
/* Nav Top: Create Note, Sort, Create Folder */
/* Folder */
/* Files */
/*  (also applies to many plugins displaying file lists in the side bar)  */
/* ---- Graph ---- */
.graph-view.color-fill {
  color: var(--text-muted);
  /* color of nodes */
}

.graph-view.color-fill-focused {
  /* color of focused node/note */
  color: #ffdd00;
}

.theme-dark .graph-view.color-fill-tag {
  /* dark mode tag color */
  color: #704214;
}

.theme-light .graph-view.color-fill-tag {
  /* light mode tag color */
  color: #E0D3AF;
}

.theme-dark .graph-view.color-fill-attachment {
  /* dark mode attachment color */
  color: #1a356b;
}

.theme-light .graph-view.color-fill-attachment {
  /* light mode attachment color */
  color: #83D4F4;
}

.graph-view.color-fill-unresolved {
  /* unresolved(not created yet) notes */
  color: var(--text-muted);
  opacity: 0.4;
}

.graph-view.color-arrow {
  /* arrow color */
  color: var(--text-normal);
  opacity: 0.5;
}

.graph-view.color-circle {
  /* focused node border color */
  color: var(--text-normal);
}

.graph-view.color-line {
  /* link color */
  color: var(--background-modifier-border);
}

.graph-view.color-text {
  /* text color */
  color: var(--text-normal);
}

.graph-view.color-fill-highlight {
  /* focused node color */
  color: var(--interactive-accent);
}

.graph-view.color-line-highlight {
  /* focused node connections */
  color: var(--interactive-accent);
}

/* Graph Menu */
/* ---- Ribons, Panels and Status Bar ---- */
/*  Ribbons (The Thin Vertical Bars to the Far Left and Right)  */
/* Side Panels */
/* Side Panel: Icons */
/* Status Bar */
/* ---- Settings ---- */
/* All Popup Windows: Settings */
/* Command Palette & Quick Switcher */
/* Notifications in the Top Right */
/* Context Menu  */
/* Setting Dropdown */
/* Community Themes Browser */
/* Community Plugins Browser */
/* ---- Startup Progress Bar Screen ---- */
/* Startup Progress Bar Window */
/* Startup Text */
/* Startup Progress Bar Background */
/* Startup Progress Bar Moving Line */
/* ---- Title Bars ---- */
/* -- Application Title Bar -- */
/* Navigation Button - Back  */
/* Navigation Button - Forward */
/* Window Control- Minimize */
/* Window Control- Minimize */
/* Window Control- Close */
/* -- Note Title Bar -- */
/* Inactive Note Titlebar */
/* Note Title Bar: Text */
/* Note Title Bar: Note Icon */
/* Note Title Bar: Settings Icons */
/* Active Note Titlebar */
/* Note Title Bar: Text */
/* Note Title Bar: Note Icon */
/* Note Title Bar: Settings Icons */
/* ---- Tooltips ---- */
/* ---- Blockquotes ---- */
/* ---- Code ---- */
/* Inline Code */
/* Source Mode */
/* Reading Mode */
/* Codeblock (No Language Specified)  */
/* Reading Mode */
/* Source Mode */
/* Codeblock: Language Specified: ```js */
/* Reading Mode */
/* Reading Mode */
/* -- Comments -- */
/*  HTML Comments and Obsidian-style Comments  */
/* ---- Embeds ---- */
/* Reading Mode */
/* Reading Mode */
/* Live Preview Mode */
/* Live Preview Mode */
/* File Embed */
/* Reading Mode */
/* Live Preview Mode */
/* Empty/No Embed Found */
/* Live Preview Mode */
/* Live Preview Mode */
/* Embed Titles */
/* Reading Mode */
/* Reading Mode */
/* Embed Link */
/* ---- Emphasis ---- */
/* Bold */
/* Reading View */
/* Editing View */
/* Italics/Emphasis */
/* Reading View */
/* Editing View */
/* Highlight */
/* Reading View */
/* Editing View */
/* Editing View highlight symbols/syntax */
/* Strikethrough */
/* Editing View */
/* Reading View */
/* ---- Footnotes ---- */
/* Footnote Link in Note */
/* Reading View */
/* Reference Number in Text */
/* Editing View */
/* Footnotes Section at the Bottom of the Note */
/* Reading View */
/* Footnote Back Ref (Arrow) at the Bottom of the Note */
/* Reading View */
/* ---- Frontmatter/Metadata/YAML ---- */
/* Reading Mode */
/* Source Mode */
/* Frontmatter Tag */
/* Reading Mode */
/* ---- Headings ---- */
.HyperMD-header-1 {
  font-size: 2.67em;
}

h1,
.cm-header-1 {
  font-family: var(--display-heading-font);
  font-weight: 400 !important;
  /* important to override .cm-header */
  font-size: 2.67em !important;
}

/* ---- Horizontal Rule ---- */
/* Reading Mode */
/* Source Mode */
/* Source Mode */
/* Horizontal Rule Text */
/* Source Mode */
/* ---- Links ---- */
/* Source Mode */
/* Wiki Links */
/* Reading Mode */
/* Markdown Links */
/* Reading Mode */
/* Link to No Page */
/* Reading Mode */
/* Tags */
/* Reading Mode */
/* Source Mode */
/* ---- Lists ---- */
/* Source Mode */
/* List Bullet/Number/Formatting */
/* Reading Mode */
/* Source Mode */
/* Source Mode */
/* Bullet Lists */
/* Reading Mode */
/* Bullet List Text */
/* Reading Mode */
/* Bullet List Symbol */
/* Reading Mode */
/* Numbered Lists */
/* Reading Mode */
/* Numbered List Text */
/* Reading Mode */
/* Numbered List Number */
/* Reading Mode */
/* Checkbox List */
/* Reading Mode */
/* Reading Mode */
/* Checked Checkbox */
/* Reading Mode */
/* Reading Mode */
/* ---- Notes ---- */
/* Source Mode */
/* Source Mode */
/* Live Preview Mode */
/* Reading Mode */
/* ---- Tables ---- */
/* Reading Mode */
/* Table Headers */
/* Reading Mode */
/* Table Column */
/* Reading Mode */
/* Table Row */
/* Reading Mode */
/* Source Mode */