/* Headings
========================================================= */

.HyperMD-header-1 {
    font-size: 2.67em;
}

h1,
.cm-header-1 {
    font-family: var(--display-heading-font);
    font-weight: 400 !important; /* important to override .cm-header */
    font-size: 2.67em !important /* important needed for h1 */;
}

h2,
.cm-header-2 {}

h3,
.cm-header-3 {}

h4,
.cm-header-4 {}

h5,
.cm-header-5 {}

h6,
.cm-header-6 {}
