/* Font families
========================================================= */

:root {
    /* Note and settings text */
    --default-font: "Inter", sans-serif;

    /* Code block text */
    --font-monospace: "Source Code Pro", monospace;

    /* Biggest headings */
    --display-heading-font: "Ibarra Real Nova (Embedded)", serif;
}
