/* ---- Fonts ---- */

/* Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

/* Font Families */
:root {
    --default-font: "Inter", sans-serif; /* Note and settings text */
    --font-monospace: "Source Code Pro", monospace; /* Code block text */
    --display-heading-font: "Ibarra Real Nova", serif; /* Biggest headings */
}
