/* ---- Fonts ---- */

/* Embed Google Fonts */

/* Encoded using https://amio.github.io/embedded-google-fonts */
@use "ibarra-real-nova.scss";

/* Font Families */
:root {
    --default-font: "Inter", sans-serif; /* Note and settings text */
    --font-monospace: "Source Code Pro", monospace; /* Code block text */
    --display-heading-font: "Ibarra Real Nova", serif; /* Biggest headings */
}
